@charset "utf-8";
/* CSS Document */

.tabelaPessoa{
	min-width:1000px;
	margin-top:10px;
	margin-bottom:20px;	
}
.incusr{
	text-decoration:none;
	outline:none;	
}

#mask{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:#000;	
}

#divAlterar{
	display:none;
	padding-left:20px;
	background-color:#FFF;
	border:1px solid #999;
	position:absolute;
	top:10%;
	left:20%;
	width:700px;
	height:400px;
}